

/*--------------------------------------User profile / binsem---------------------------------*/

#profile{
	margin-top: 2rem;
}
#profile .ui.stackable.two.column.row{
	padding: 0;
}
.ui.link.list .item{
	color: blue !important;
	margin: 0.3rem 0 0.3rem 1rem;
}
.ui.teal.header{
	text-align: center;
	margin-top: 0.3rem;
}
#segment1{
	background-color: #58D3F7;
}
#segment2{
	margin-top: 0.3rem;
	background-color: #58D3F7;
}
#segment3{
	margin-top: 0.3rem;
	background-color: #58D3F7;
}
.ui.segments>.ui.segments{
	background-color: white;
}
#segment2 form{
	width: 93%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.5rem;
}
@media only screen and (max-width: 767px){
	.ui.stackable.two.column.row .column{
		padding: 0 1rem !important;
	}
}

/*-------------------------------Header-Ori---------------------------------*/
#arriere{
	position: absolute;	
	top: 8em;
	height : 40em;	
	width : 40em;
}
#text{
	position:relative;
	text-outline: 10%;
	left:10%;
	width:200%;
	z-index:10;
	font-family: Helvetica;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1.2em;
	text-align: center;
	color: gray;
	font-style: italic;
}
#titre{
	position:relative;
	text-outline: 10%;
	top: 60%;
	left:10%;
	height: 20%;
	width:200%;
	z-index:10;
	font-family:'Roboto';
	font-size: 4em;
	text-transform: uppercase;
	text-align: center;
	color: yellow;
	background-color: rgba(0,0,0, 0.7);
}
body{
	margin:0;
	padding:0;
	background: url(rocks.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	background-size: cover; 
	z-index:1;

}



/*-------------------------------Footer-Ori---------------------------------*/
#footer{
	position: absolute; 
	bottom: 0;
	width: 100%; 
	height: 07%;
}

